$color__background-hr:     #ECECEE;

$color__not-valid:           #e01717;
$color__valid:               #42c514;
$subscribe-color__not-valid: #a20014;
$subscribe-color__valid:     #42f551;

$event2nColor: #1997de;
$event3nColor: #33cea5;

$team1nColor: #33cea5;
$team2nColor: #1997de;
$team3nColor: #ff1631;
