nav.main-navigation {
	.sub-menu {
		a {
			font-size: 1em;
			font-weight: normal;
		}
		> li {
			> a {
				@include media-breakpoint-up(md) {
					padding: 3px 30px;
				}
			}
		}
	}
	> .tm-mega-menu {
		.tm-mega-menu-sub.simple-sub {
			li.tm-mega-menu-has-children {
				> a {
					> i.mega-menu-arrow {
						top: 3px;
					}
				}
			}
		}
	}
}
