/*!
Skin Name: Default
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Grid
# Typography
# Elements
	## Lists
	## Tables
	## Preloader
	## ToTop button
# Forms
# Navigation
	## Links
	## Top Menu
	## Main Menu
	## Footer Menu
	## Paginations
	## Breadcrumbs
	## Social List
# Modules
	## Accessibility
	## Alignments
	## Clearings
	## Comments
	## Swiper
	## Author Bio
	## Share Buttons
	## Magnific Popup
# Components
	## Card
# Content
	## Layout
	## Header
	## Posts and pages
	## Post Formats
	## Footer
	## 404
# Widgets
	## Defaults
	## About author
	## About Monstroid2
	## Banner
	## Carousel
	## Contact Information
	## Custom Posts
	## Featured Posts Block
	## Instagram
	## Image Grid
	## News Smart Box
	## Playlist Slider
	## Smart Slider
	## Subscribe
	## Taxonomy Tiles
# Media
	## Captions
	## Galleries
	## Embeds
# Plugins
	## BuddyPress
	## Events
	## Booked
	## Timeline
	## Events Schedule
	## Contact Form 7
	## Power Builder
	## Cherry Team Members
	## Cherry Testimonials
	## Cherry Project
	## Mega menu
# Woocommerce Part

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Fields
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Search-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comment-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Password-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Vertical menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Paginations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Social List
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Toggle buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Swiper
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Suthor-bio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Share
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Magnific Popup
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Defaults
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Categories
--------------------------------------------------------------*/
.sidebar .widget_categories ul li,
.tm_pb_column_1_3 .widget_categories ul li,
.tm_pb_column_1_4 .widget_categories ul li {
	position: relative;
	padding-left: 15px; }
	.sidebar .widget_categories ul li:after,
	.tm_pb_column_1_3 .widget_categories ul li:after,
	.tm_pb_column_1_4 .widget_categories ul li:after {
		content: '\e943';
		position: absolute;
		left: 0;
		top: 5px;
		font-family: 'Linearicon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Enable Ligatures */
		-ms-font-feature-settings: "liga" 1;
		-o-font-feature-settings: "liga";
		font-feature-settings: "liga";
		/* Better Font Rendering */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; }

/*--------------------------------------------------------------
## About author
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About Monstroid2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Banner
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Information
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Featured Posts Block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Instagram
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Image Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## News Smart Box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Playlist Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Smart Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Subscribe
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Taxonomy Tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## bbPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Booked
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Timeline
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events Schedule
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form 7
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Power Builder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Misc
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Accordion
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Audio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Blurb
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Brands Showcase
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Circle Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Contact-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Countdown Timer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Counters
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Map
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Number Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Person
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Pricing Table
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Promo (Call to action)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Social Media Follow
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Tabs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Taxonomy
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Toggle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video slider
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Team Members
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Testimonials
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Project
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
